<div class="profile-card">
  <div class="avatar-name">
    <img src="assets/imgs/img.png" alt="avatar" class="profile-card__avatar" />
    <div class="profile-card__name">
      <strong class="h6">Кристиан Бейл</strong>
      <span class="subtitle">kris</span>
    </div>
  </div>
  <div class="profile-card_description">
    Список навыков, который мы обсудили выше, — основа резюме,
    но не единственная его часть. Также можно рассказать о себе в классическом
    смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">JavaScript</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">HTTP</div>
    <div class="skill-tag">Git</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
