/* You can add global styles to this file, and also import other style files */
@import "fonts";

:root {
  --dark-color: #000000;
  --ligth-color: #ffffff;
  --primary-color: #ae7aff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-color);
  color: var(--ligth-color);
}

.skill-tag {
  padding: 4px 8px;
  border: 1px solid var(--ligth-color);
  border-radius: 2px;
  font-size: 12px;
  display: inline;
  font-weight: 700;
  height: 24px;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800px;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400px;
}
