<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <h1 class="h1 mb60">Вход</h1>
  <label class="tt-control-label mb16">
    Telegram username
    <input
      formControlName="username"
      type="text"
      class="tt-input"
      placeholder="Введите логин"
    />
  </label>
  <label class="tt-control-label mb32">
    Пароль
    <div class="password-input">
      <input
        formControlName="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        class="tt-input"
        placeholder="Введите пароль"
      />
      <button
        [class.active]="isPasswordVisible()"
        class="password-eye-btn"
        (click)="isPasswordVisible.set(!isPasswordVisible())"
      >
        <img src="/assets/svg/visible.svg" alt="visible" />
      </button>
    </div>
  </label>
  <button class="btn btn-shadow" type="submit">Войти</button>
</form>
<img src="/assets/svg/logo-big.svg" alt="logo" />
