.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.to-settings-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}
.to-settings-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}
